body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.modalDialog {
  width: 70%;
  border: 2px solid black;
  background-color: white;
  padding: 20px;
  margin: 20vh auto;
}
div.inputButtons {
  display: inline-flex;
  justify-content: space-evenly;
  padding: 15px;
   width: 220px;
  max-width: 220px;
}
input.select {
  width: 220; 
  max-width: 220;
  padding: 10px;
}
div.MuiGrid-root.groupInfo {
  align-content: center;
}
div.MuiGrid-root {
  justify-content: center;
}
div.MuiGrid-root h3.MuiTypography-root {
  font-size: 32px;
  text-align: center;
  margin: 5vh auto;
}
div.MuiGrid-root.modalInputTxt  {
  display: flex;
  width: 100%;
}
div.MuiTextField-root {
  width: 500px;
  max-width: 600px;
}
div.MuiGrid-root button.MuiButton-root {
  margin: 20px 0;
}
div.MuiGrid-root button.MuiButton-root.modalBtn {
  width: 100%;
  font-weight: 600;
  color: white;
}
div.MuiGrid-root button.MuiButton-root.saveModal {
  background-color: #1976d2;
}
p.MuiTypography-root.closeModal {
  color: #aaa;
  align-self: flex-end;
  font-size: 28px;
  font-weight: bold;
}
p.MuiTypography-root.closeModal:hover,
p.MuiTypography-root.closeModal:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}
div.MuiGrid-root.groupInfo {
  padding: 50px;
}
div.MuiGrid-item p.MuiTypography-root.modalMessage {
  display: none;
  padding: 10px;
  background-color: wheat;
}
input.select {
  width: 220px; 
  max-width: 220px;
  padding: 10px;
}
div.dropdown {
  width: 220px;
  margin: 17px;
} 
label.p-8 {
  padding : 8px;
}
div.trainingSearchBar {
  display: flex;
  justify-content: flex-end;
}
p.validationGroup {
  color: red;
}
div.trainingDetailsContainer{
  display:grid;
  justify-content: left;
}
label.trainingDetailsTitle {
display: flex;
justify-content: space-evenly;
}
div.root {
  display: grid;
}
div.trainingDetailsMembers{
  display: grid;
}
