body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.modalDialog {
  width: 70%;
  border: 2px solid black;
  background-color: white;
  padding: 20px;
  margin: 20vh auto;
}
div.inputButtons {
  width: 220;
  max-width: 220;;

}
button.btn {
  margin: 15px;
  max-width: max-content;
}
button.cancelBtn {
  margin: 15px;
  max-width: min-content;
}
input.select {
  width: 220; 
  max-width: 220;
  padding: 10px;
}
div.membersContainer {
  height: 400;
   width: '100%';
}